<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" type="text/css" href="css/app.css"> <!-- snackbar styling -->
    <script src="javascript/app.js" defer></script> <!-- HTTP methods and snackbar -->

    <link rel="stylesheet" type="text/css" href="css/index.css">
    <script src="javascript/index.js" defer></script>

    <title>Document</title>
</head>

<body>
    <center>
        <h1>UT TRANSPORT</h1>
    </center>
    <div class="containerMaster">
        <section>
            <div id="formDiv" class="container">
                <h2>Definer Transport</h2>
                <div class="searchContainer">
                    <input id="searchInput" type="text" placeholder="Søg på UT nummer">
                    <input type="button" id="searchBtn" value="Søg" onclick="searchForProfile()">
                </div>
                <div class="clearAndDeleteContainer">
                    <input style="display: none;" id="clearBtn" type="button" value="Clear" onclick="clearInputFields()">
                    <input style="display: none;" id="deleteBtn" type="button" value="Slet" onclick="deleteProfile()">
                </div>
                <form id="form" action="" onsubmit="return false">
                    <div class="wrapper">
                        <div class="box">
                            <label>UT nummer</label>
                            <input id="utNumberInput" type="text" name="utNummer" required>
                        </div>
                        <div class="box">
                            <label>Dato/Init</label>
                            <input id="datoInput" type="date" min="2021-11-2" name="fnames" required>
                        </div>
                    </div>
                    <div class="wrapper">
                        <div class="box">
                            <label>Godsart</label>
                            <input id="godsartInput" type="text" name="Godsart" required>
                        </div>
                        <div class="box">
                            <label>Vognlitra</label>
                            <input id="vognlitraInput" type="text" name="Vongnlitra" required>
                        </div>
                    </div>

                    <div class="wrapper">
                        <div class="box">
                            <label>Gods Længde</label>
                            <input id="godslengthInput" type="text" name="Vongnlitra" required>
                        </div>
                        <div class="box">
                            <label>Akselafstand</label>
                            <input id="axleDistance" type="text" name="Akselafstand" required>
                        </div>
                    </div>

                    <div class="wrapper">
                        <div class="box">
                            <label>Akselafstand i bogie </label>
                            <input id="axleDistanceInBoogieInput" type="text" name="Akselafstand i bogie " required>
                        </div>
                        <div class="box">
                            <label>Akselantal</label>
                            <input id="axleCountInput" type="text" name="Akselantal" required>
                        </div>
                    </div>
                    <div class="wrapper">
                        <div class="box">
                            <label>Indv. afstand fra aksel</label>
                            <input id="insideDistanceFromAxelToBoogie" type="text" required>
                        </div>
                        <div class="box">
                            <label>Uddv. afstand fra aksel</label>
                            <input id="outsideDistanceFromAxelToBoogie" type="text" required>
                        </div>
                    </div>
                    <div class="listDiv">
                        <div id="x-axis">
                            <h4>Afstand fra vognmidte
                                <select onchange="makeInputFields(value)" id="inputCount">
                                    <option value="0">0</option>
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                    <option value="4">4</option>
                                    <option value="5">5</option>
                                    <option value="6">6</option>
                                    <option value="20">20</option>
                                </select>
                            </h4>
                            <div id="xInputs">
                            </div>
                            <input onclick="createOneInputField()" style="display: none;" id="plusBtn" type="button"
                                value="+">
                        </div>
                        <div id="y-axis">
                            <h4>Højde over SO</h4>
                            <div id="yInputs">
                            </div>
                            <input onclick="removeOneInputField()" style="display: none;" id="minusBtn" type="button"
                                value="-">
                        </div>
                    </div>
                    <input type="submit" id="submitBtn" value="Opret">
                </form>
            </div>
        </section>

        <section>
            <div class="billedeprofil">
                <h2>indsæt grafisk profil</h2>
                <img src="images/img.png" alt="">
            </div>
        </section>

        <section>
            <div class="drawingSection">
                <div class="billedetegneprofil">
                    <h2> indsæt tegnebræt</h2>
                    <img src="images/tegneprofil.png" alt="">
                </div>
                <button id="tegnBtn">tegn</button>
                <button id="sletBtn">slet</button>
            </div>
        </section>

        <section>
            <div class="contact-right">
                <h2>midlertidig titel</h2>
                <form>
                    <div class="outerline">
                        <div class="input-row">
                            <label>Identifikation</label>
                        </div>
                        <div class="input-row">
                            <div class="input-group">
                                <label> strækning</label>
                                <input type="text" style="width: 30px;">
                                <label> - </label>
                                <input type="text" style="width: 30px;">
                            </div>
                            <div class="input-group">
                                <label> Spor</label>
                                <input type="text" style="width: 50px;">
                                <label> Kilometer</label>
                                <input type="text" style="width: 50px;">
                            </div>
                        </div>
                    </div>

                    <div class="outerline">
                        <div class="input-row">
                            <label>Dato/initialer</label>
                        </div>
                        <div class="input-row">
                            <div class="input-group">
                                <label> Oprettelse</label>
                                <input type="text" style="width: 60px;">
                                <label> / </label>
                                <input type="text" style="width: 40px;">
                            </div>
                            <div class="input-group">
                                <label> Reviderede</label>
                                <input type="text" style="width: 60px;">
                                <label> / </label>
                                <input type="text" style="width: 40px;">
                            </div>
                        </div>
                    </div>

                    <div class="outerline">
                        <div class="input-row">
                            <div class="input-group">
                                <label> Transport undersøges</label>
                            </div>
                            <div class="input-group">
                                <label> Behandlet</label>
                            </div>
                            <div class="input-group">
                                <label> Dispensation</label>
                            </div>
                        </div>
                        <div class="input-row">
                            <div class="input-group">
                                <input type="radio">
                                <label> Ja</label>
                                <input type="radio">
                                <label> nej</label>
                            </div>
                            <div class="input-group">
                                <input type="radio">
                                <label> Ja</label>
                                <input type="radio">
                                <label> nej</label>
                            </div>
                            <div class="input-group">
                                <input type="radio">
                                <label> Ja</label>
                                <input type="radio">
                                <label> nej</label>
                            </div>
                        </div>
                    </div>

                    <div class="outerline">
                        <div class="input-row">
                            <label>Genstandsbetegnelse</label>
                        </div>
                        <div class="input-row">
                            <div class="input-group">
                                <select name="" id="scroll"></select>
                            </div>
                        </div>
                    </div>

                    <div class="outerline">
                        <div class="input-row">
                            <label>Teskt til transporttilladelse</label>
                        </div>
                        <div class="input-row">
                            <div class="input-group">
                                <input type="text" style="width: 400px">
                            </div>
                        </div>
                    </div>

                    <div class="outerline">
                        <div class="input-row">
                            <label>Notat</label>
                        </div>
                        <div class="input-row">
                            <div class="input-group">
                                <textarea name="" id="" cols="52" rows="10"></textarea>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </section>
    </div>
    <div id="snackbar">Some text some message..</div>
</body>

</html>